body {
    background-color:#1a1d32;
}
H2 {
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: #b9b7df;  
    font-style: oblique;
    font-weight: lighter;
    text-shadow: 1px 1px  #00eeff;
}
.state{
    fill: #2c436d;
    stroke: #1a1d32;
    stroke-width: 1;
    justify-content: center;
}
.state:hover{
    fill:#066406;
}
#label {   
    position: absolute;           
    text-align: center;
    padding: 5px;             
    margin: 0px;
    font: 12px monospace;        
    background: #cdd0e5;   
    border: 11px;       
    border-radius: 7px;           
    pointer-events: none;         
}
#label h4{
    margin:0;
    font-size:14px;
}
.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
  }
.grid-left {
    background-color: #24375a;
    text-align: center;
    font: 16px monospace;
    color: #b9b7df;        
    pointer-events: none;         
}
.grid-right {
    text-align: center;
}

.fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
    text-align: center;
    padding: 200px 0;
    background: #1a1d32; 
}

input[type=submit]{
    background-color: #2c436d;
    border: none;
    color: white;
    padding: 3px 100px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #066406;
    color: white;
  }